{% extends '../index.html' %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %} Items in the cart {% endblock %}
{% block content %}
    <div class="app-main__outer"> 
        {% if messages %}
            {% for message in messages %}
                <div id="toast-container" class="toast-bottom-right">
                    <div class="toast toast-{{ message.tags }}" aria-live="assertive" style="opacity: 100;">
                        <div class="toast-message">{{ message }}</div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="app-main__inner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="example_wrapper" class="dataTables_wrapper no-footer">
                                    <table id="example" class="mb-0 table table-bordered table-hover display dataTable no-footer" style="width:100%" aria-describedby="example_info">
                                        <thead>
                                            <tr>
                                                <th class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending">#</th>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1">Nomi</th>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1">Narxi</th>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1">Soni</th>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1">Jami</th>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in cart %}
                                            <tr class="even">
                                                <td>{{forloop.counter}}</td>
                                                <td><a href="{{ item.product.get_absolute_url  }}">{{item.product.name}}</a></td>
                                                <td><i class="fa fa-dollar-sign fa-w-20"></i>{{item.price|intcomma}} USD</td>
                                                <td>
                                                <form action="{% url 'cart:cart_add' item.product.id %}" method="post">
                                                    <input name="quantity" id="id_quantity" value="{{item.update_quantity_form.quantity.value}}"/>
                                                    <button type="submit" class="btn-shadow btn btn-info">Save</button>
                                                    {% csrf_token %}
                                                </form>
                                                </td>
                                                <td><i class="fa fa-dollar-sign fa-w-20"></i>{{item.total_price|intcomma}} USD</td>
                                                <td>
                                                    <a href="{% url 'cart:cart_remove' item.product.id %}" class="text-center">
                                                        <button type="button" class="btn-shadow btn btn-danger">
                                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                            <i class="fa fa-trash fa-w-20"></i>
                                                            </span>
                                                            Remove
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr><td colspan="6" class="text-center">Cart is empty</td></tr>
                                            {% endfor %}
                                            <tr class="total text-center">
                                                <td colspan="2" rowspan="2">Total price:</td>
                                                <td colspan="2">
                                                    <b>
                                                        <i class="fa fa-dollar-sign fa-w-20"></i> 
                                                        {{ cart.get_total_price_in_usd|floatformat:2 }} USD 
                                                    </b> 
                                                    <a href="" class="variant btn-shadow btn btn-info" data-id="usd">Pay in USD</a>
                                                </td>
                                                <td colspan="2">
                                                    <b>
                                                        <i class="fa fa-euro-sign fa-w-20"></i> 
                                                        {{ cart.get_total_price_in_eur|floatformat:2 }} EUR 
                                                    </b> 
                                                    <a href="" class="variant btn-shadow btn btn-info" data-id="eur">Pay in EUR</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block domready %}
    $('a.variant').click(function(e){
        e.preventDefault();
        button = $(this);
        currency = $(this).data('id');
        console.log(currency);
        $.ajax({
            url: '{% url "mainapp:buy_item" %}',
            type: 'post',
            data: {
                ans: currency,
            },
            success: function (res) {
                var stripe = Stripe('pk_test_51M7BoYEQQc02GODdwv7z49y6r8F8gwQDx9uMcWbZuanpQjsuNUr3o8mWcQeZJDdKNK8JBZA6xhvWWb5IiQhCtjBR00QC224rjq');
                window.location.href = res['session_id'];
                stripe.redirectToCheckout({ sessionId: res['session_id'] });
            },
            error:function (error) {
                console.log("error");
                console.log(error);
            }
        })
    });

{% endblock domready %}