{% load static %}
{% load humanize %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <link href="{% static 'main.87c0748b313a1dda75f5.css' %} " rel="stylesheet">
  </head>
  {% block jscode %}{% endblock jscode %}
  <body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
      <div class="app-header header-shadow">
        <div class="app-header__logo">
          <div class="logo-src"></div>
          <div class="header__pane ml-auto">
            <div>
              <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
          </div>
        </div>
        {% if messages %}
          {% for message in messages %}
            <div id="toast-container" class="toast-bottom-right">
              <div class="toast toast-{{ message.tags }}" aria-live="assertive" style="opacity: 100;">
                <div class="toast-message">{{ message }}</div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        <div class="app-header__mobile-menu">
          <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
        </div>
        <div class="app-header__menu">
          <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
              <span class="btn-icon-wrapper">
                <i class="fa fa-ellipsis-v fa-w-6"></i>
              </span>
            </button>
          </span>
        </div>
        <div class="app-header__content">
          <div class="app-header-right">
            <div class="header-dots">
              <div class="dropdown">
                <!-- Savatcha -->
                {% with total_items=cart|length %}
                {% if cart|length >= 0 %}
                  <a href="{% url 'cart:cart_detail' %}">
                    <button class="mb-2 mr-2 btn btn-info font-icon-lg">
                      <i class=" fa fa-shopping-cart icon-gradient bg-love-kiss"> </i>
                      <span class="badge badge-pill badge-light"></span>
                    </button>
                  </a>
                {% endif %}
                {% endwith %}
              </div>
            </div>
            <div class="header-btn-lg pr-0">
              <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left">
                    <div class="btn-group">
                      <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                        <img width="42" class="rounded-circle" src=" {% static 'assets/images/avatars/2.jpg' %}" alt="">
                        <i class="fa fa-angle-down ml-2 opacity-8"></i>
                      </a>
                      <div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right">
                        <div class="dropdown-menu-header">
                          <div class="dropdown-menu-header-inner bg-info">
                            <div class="menu-header-image opacity-2" style="background-image: url({% static 'assets/images/dropdown-header/city3.jpg' %} );"></div>
                            <div class="menu-header-content text-left">
                              <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                  <div class="widget-content-left mr-3">
                                    <img width="42" class="rounded-circle" src="{% static 'assets/images/avatars/2.jpg' %}" alt="">
                                  </div>
                                  <div class="widget-content-left">
                                    <div class="widget-heading">
                                        Ravshan Ismoilov
                                    </div>
                                  </div>
                                  <div class="widget-content-right mr-2">
                                    <a href="#" class="btn-pill btn-shadow btn-shine btn btn-focus">Logout
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="widget-content-left ml-3 header-user-info">
                    <div class="widget-heading">
                      Ravshan Ismoilov
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="ui-theme-settings">
          <button type="button" id="TooltipDemo" class="btn-open-options btn btn-warning">
              <i class="fa fa-cog fa-w-16 fa-spin fa-2x"></i>
          </button>
        </div>
        <div class="app-main">
          <div class="app-sidebar sidebar-shadow">
          <div class="app-header__logo">
            <div class="logo-src"></div>
            <div class="header__pane ml-auto">
              <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div class="app-header__mobile-menu">
            <div>
              <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
          </div>
          <div class="app-header__menu">
            <span>
              <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                  <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
              </button>
            </span>
          </div>
          <div class="">
            <div class="app-sidebar__inner">
                <ul class="vertical-nav-menu">
                  <li class="app-sidebar__heading">Menu</li>
                  <li>
                    <a href="{% url 'mainapp:item_list' %}">
                        <i class="metismenu-icon pe-7s-home"></i>
                        Home page
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'cart:cart_detail' %}">
                      <i class="metismenu-icon pe-7s-cart"></i>
                      Cart detail
                    </a>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      
        {% block content %}{% endblock %}

    </div>
  </div>
  <div class="app-drawer-overlay d-none animated fadeIn"></div>
    
  <script type="text/javascript" src="{% static 'assets/scripts/main.87c0748b313a1dda75f5.js' %} "></script>
  <!-- AJAX -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/js.cookie.min.js' %}"></script>
  <script src="https://js.stripe.com/v3/"></script>

  <script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings)
        {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain)
                { xhr.setRequestHeader("X-CSRFToken", csrftoken); }
        }
    });

    $(document).ready(function(){
        {% block domready %}{% endblock domready %}
    });
  </script>
  </body>
</html>
{% block modal %}{% endblock modal %}