{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} All items {% endblock %}

{% block content %}
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div>
                            <div class="page-title">
                                <a href="#">
                                    <button class="mb-2 mr-2 btn btn-primary">Count<span class="badge badge-pill badge-light">{{ items.count }}</span></button>
                                </a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="example_wrapper" class="dataTables_wrapper no-footer">
                                    <table id="example" class="mb-0 table table-bordered table-hover display dataTable no-footer" style="width:100%" aria-describedby="example_info">
                                        <thead>
                                            <tr>
                                                <th class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending">#</th>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1">Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1">Description</th>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1">Price</th>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for product in items %}
                                                <tr class="odd">
                                                    <td class="sorting_1 sorting_2">{{forloop.counter}}</td>
                                                    <td><a href="{{ product.get_absolute_url  }}">{{product.name}}</a></td>
                                                    <td>{{product.description|slice:"25"}}...</td>
                                                    <td>{{product.price}} {{product.get_currency_display}}</td>
                                                    <td>
                                                        <button type="button" class="btn-shadow btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg{{product.id}}">
                                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                                <i class="fa fa-cart-plus fa-w-20"></i>
                                                            </span>
                                                            Add to cart
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% empty %}
                                                <tr><h4>Items not found!!!</h4></tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block modal %}
    {% for product in items %}
        <div class="modal fade bd-example-modal-lg{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"> Select the item quantity. </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form action="{% url 'cart:cart_add' product.id %}" method="post" class="m-2">
                        <div class="modal-body">
                            {% csrf_token %}
                            {{ form|crispy }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-info">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock modal %}
