<html>
  <head>
    <title>Buy {{item.name}}</title>
  </head>
  <body>
    <h1>Name: {{item.name}}</h1>
    <p>Description: {{item.description}}</p>
    <p>Price: ${{item.price}}</p>
    <button id="buy-button">Buy</button>
    <script type="text/javascript">
      var stripe = Stripe('pk_test_51M7BoYEQQc02GODdwv7z49y6r8F8gwQDx9uMcWbZuanpQjsuNUr3o8mWcQeZJDdKNK8JBZA6xhvWWb5IiQhCtjBR00QC224rjq');
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        console.log('123')
        // Create a new Checkout Session using the server-side endpoint 
        // Redirect to Stripe Session Checkout
        fetch('/buy/{{item.pk}}', {method: 'GET'})
        .then(response => return response.json())
        .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
      });
    </script>
  </body>
</html>
